<%=render "higher_level/barcode_simple_scan", hide_action: false%>
<%=render "thecore_utils/html_helpers"%>

<script>
  // Function overridings
  function contentHtmlString(data){
    var html = $("<div></div>");
    html.append("<h3><%=t "thecore_dataentry_with_date_start_and_end.header" %> "+data.barcode+"</h3>");
    <%-if (not_before rescue true)%>
    html.append(buildDTPicker("not-before", '<%=t "thecore_dataentry_with_date_start_and_end.not_before" %>', data.not_before, <%= not_before_ro rescue false %>, <%= not_before_date_only rescue false%>));
    html.append("<br/>");
    <%-end%>
    <%-if (not_after rescue true)%>
    html.append(buildDTPicker("not-after", '<%=t "thecore_dataentry_with_date_start_and_end.not_after" %>', data.not_after, <%= not_after_ro rescue false %>, <%= not_after_date_only rescue false%>));
    html.append("<br/>");
    <%-end%>
    html.append("<strong><%=t "thecore_dataentry_with_date_start_and_end.description"%></strong>");
    return html;
  }
  
  function dataActionThen(data){
    resetInfo();
  }

  // function captureCTRLSpace(event) {
  //   // Capture all the keypresses and if they are a return, 
  //   // then "click" the send button
  //   // event.stopPropagation();
  //   // event.preventDefault();
  //   var keycode = (event.keyCode ? event.keyCode : event.which);
  //   if (event.ctrlKey && keycode == '32') {
  //     console.log(`Keycode: ${keycode}`);
  //     console.log(`Is ctrlKey? ${event.ctrlKey}`);
  //     $("#data-action").click();
  //     //return true;
  //   }
  //   // return false;
  // }
  // $(document).on('keydown', captureCTRLSpace);
</script>